@page
@model Feature_Toggles.Pages.PercentageModel
@addTagHelper *, Microsoft.FeatureManagement.AspNetCore

@using Feature_Toggles
@using Microsoft.FeatureManagement.Mvc
@{
}


<h2> Percentage Feature</h2>
<feature name="@Flags.Percentage">Enabled</feature>