@page
@model Web.Pages.StateModel
@{
}

<h1>Clear State</h1>

<a href="/State?clear=all">Clear All</a>
<br />
<a href="/State?clear=csrf">Clear CSRF</a>
<br />
<a href="/State?clear=xss">Clear XSS</a>
<br />