@model WebApplication_MVC.Models.User
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    if (Context.Request.Method == "POST")
    {
        ViewData["Title"] = "Data Index fromView";
    }
}


<h1>Test form</h1>

<h3>@ViewBag.CallType</h3>

<form method="post">
    <div class="row">
        <label>Name</label>
        <input type="text" asp-for="Name" />
    </div>
    <div class="row">
        <label>Email</label>
        <input type="text" asp-for="Email" />
    </div>
    <div class="row">
        <label>UserName</label>
        <input type="text" asp-for="UserName" />
    </div>
    <button type="submit">Submit</button>
</form>

<hr />

@Model.Name
@Model.Email
@Model.UserName